@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Nunito Sans', sans-serif;
}

header
{
    height: 15px;
    padding: 45px 50px 100px;
    background-color: rgba(2,0,36,1);
}

header a 
{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.438);
    text-transform: uppercase;
}

.rightNav li:first-child a
{
    color: white;
}

header .placeHolderImg
{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 2px white solid;
}

nav ul, .rightNav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightNav
{
    gap: 50px;
}

li
{
    list-style-type: none;
}

a
{
    text-decoration: none;
}


header .button 
{
    background-color: #383f4d;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
}

.button 
{
    padding: 20px 0;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

.blue
{
    background-color: #020024;
    color: white;
    width: fit-content;
    padding: 20px 80px; 
}

main
{
    height: 60vh;
    background: linear-gradient(175deg, rgba(2,0,36,1) 61%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 100%);
    color: white;
}

.twoRows
{
    display: flex;
    flex-direction: row;

}

h1
{
    margin: 80px 0 10px;
    font-size: 4rem;
}

p
{
    font-size: 1.7rem;
    line-height: 35px;
    color: #748191;
}

.left, .right
{
    width: 50%;

    padding: 20px 50px;

    display: flex;
    flex-direction: column;
    
}
.left
{
    /* border: 2px red solid; */
}

.buttonHolder
{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.buttonHolder > .button:first-child
{
    background-color: white;
    padding: 20px 80px; 
    color: #383f4d;
}

.buttonHolder .button:last-child
{
   padding: 0;
}



.right
{
    /* border: 2px blue solid; */
    justify-content: center;
    align-items: center;
}

.right > .placeHolderImg
{
    width: 600px;
    height: 500px;
    background-color: #dee0ea;
    
}

section
{
    padding: 20px 50px;
}


.brands > ul
{
    display: flex;
    justify-content: flex-end;
    gap: 80px;
    
    height: 5vh;

    text-transform: uppercase;
    font-weight: bold;

}

.brands > ul li
{
    font-size: 1.5rem;
}

.sectionA
{
    height: 65vh;
}

.sectionA > .left
{
    justify-content: space-between;

    justify-content: space-evenly;
}

h2
{
    font-size: 3rem;
    color: #293744;
    font-weight: 400;
}

.left > span, .right > span
{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #5e6d80;
}

.sectionA > .right
{

    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    gap: 25px;
    

}

.card
{
    width: 45%;
    height: 353px;
    text-align: center;
    border-radius: 10px;
    box-shadow: -6px 15px 27px 0px rgba(0,0,0,0.16);
    
}

.card > .placeHolderImg
{
   
    height: 250px;
    background-color: #dee0ea;
 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 15px;
}

.card > span
{
    font-weight: bold;
    font-size: 1.5rem;
    color: #020024;
}

.card > p
{
    margin-top: 10px;
    font-size: 1.5rem;
    line-height: 20px;
}