*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f5f9fc;
}

nav
{
    height: 75px;
    padding: 10px;
    border-bottom: 2px rgba(139, 139, 139, 0.425) solid;
    text-align: center;
}

.logo, h1, button
{
    color: #1c3448;
}

button
{
    background-color: #1c3448;
}

nav > img , .logo
{
    height: 40px;
}

nav > img
{
    float: left;
    opacity: 25%;
}

a
{
    text-decoration: none;
    color: black;
}

.logo
{
    font-size: 2.5rem;
    text-align: center;
}

.sectionA
{
    padding: 30px 25px;
}

.sectionA > span
{
    text-transform: uppercase;
}

h1
{
    font-size: 2.5rem;
    padding: 15px 0px;
}

.sectionA > div span
{
    opacity: 25%;
}

input
{
    width: 100%;
    height: 50px;

    background-color: #e1e9f0;
    border: none;
    display: block;
    padding-left: 10px;

    margin: 20px 0px 15px 0px;

    color: #222c5c75;
}

button
{
    width: 100%;
    height: 50px;

    background-color: #1c3448;
    color: white;

    border: none;
    font-size: 1rem;
    margin: 20px 0 20px 0px;
}

.sectionA p
{
    font-size: 1.4rem;
    line-height: 25px;
    opacity: 75%;
}

.sectionA > img
{
    float: left;
}

@media (min-width: 700px) {
   
  nav
  {
    height: 100px;
  }
    
    nav > img , .logo
{
    height: 60px;
}

.logo
{
    font-size: 3rem;
}

.sectionA > div span
{
    font-size: 2rem;
}
   
h1
{
    font-size: 3.5rem;
}

input, button
{
    font-size: 1.5rem;
    height: 75px;
}

button
{
    margin: 50px 0px;
}

.sectionA p
{
    font-size: 2rem;
    line-height: 50px;
}
    /*
    .desktop
    {
        height: 75px;

        padding: 10px;
        border: 2px red solid;
    }

    .desktop *
    {
        float: left;
        width: 33.333%;
        display: block;

    
    }

  */

  .sectionA img
  {
    width: 750px;
  }
    

 
}

@media (min-width: 1280px)
{

    .sectionA
    {
        margin-top: 50px;
    }

  .sectionA > div
  {
    padding: 0px 50px;
  }

  .sectionA > div span
  {
    font-size: 2rem;
  }
  
  h1
  {
    font-size: 4.5rem;
  }

.sectionA p
{
    font-size: 1.75rem;
}

   .sectionA > div, .sectionA > img
   {
    float: left;
    width: 50%;
   }

  input, button
  {
    float: left;
    width: 50%;
    height: 55px;
    padding: 0;
    margin: 50px 0px;
  }

  input
  {
    padding: 0px 10px;
  }

  .sectionA > img
  {
    margin: -100px 0px;

  }
    
}